/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.index{
  font-family: verdana, arial, helvetica, sans-serif;
}

table{
  margin: 10px;
  border-spacing: 2px;
}

th{
  font-size: 13px;
  padding-bottom: 5px;
}

td{
  font-size: 13px;
}

.show{
  margin: 10px;
}

.showing{
  margin: 33px;
}

.title{
  font-size: 13px;
  display: block;
  margin: 33px;

}

.body{
  font-size: 13px;
  display: block;
  margin: 33px
}

.edit{
  font-size: 13px;
  display: inline;
  text-decoration: underline;
}

.link {
  display: inline;
}